services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  B13\Assetcollector\:
    resource: '../Classes/*'

  cache.tx_assetcollector:
    class: TYPO3\CMS\Core\Cache\Frontend\FrontendInterface
    factory: ['@TYPO3\CMS\Core\Cache\CacheManager', 'getCache']
    arguments: ['tx_assetcollector']
  B13\Assetcollector\Middleware\InlineSvgInjector:
    arguments:
      $cache: '@cache.tx_assetcollector'
  B13\Assetcollector\Hooks\AssetRenderer:
    arguments:
      $cache: '@cache.tx_assetcollector'
